.container {
  max-width: 1000px;
}
.jumbotron {
  background-color: #FF6347;
  text-align: center;

}
button {
  background-color: #FF6347;
}
#show-order {
  display: none;
}

select:invalid {
  color: gray;
}

.pizza-link {

}
